.grid-parent {
    max-width: $max-grid-width;
    display: grid;
    margin: 0 auto;
    padding: 0 2rem;

    @include respond(tab-port) {
        max-width: 65%;
    }
    @include respond(phone) {
        max-width: 80%;
    }
}

.grid-1-2 {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    @include respond(tab-port) {
        grid-template-columns: 1fr;
        gap: 10rem;
    }
}

.grid-1-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
        gap: 10rem;
    }
}

.grid-1-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 7rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
    @include respond(phone) {
        grid-template-columns: 1fr;
        gap: 5rem;
    }
}
